html,

body {

  height: 100%;

  padding: 0;

  margin: 0;

  background: rgba(0, 0, 0, 0.851);

}

h1 {

  color: white;

  text-align: center;

  margin-top: 10px;

  font-family: Arial, Helvetica, sans-serif;

}

h2 {

  color: white;

  text-align: center;

  margin-top: -10px;

  font-family: Arial, Helvetica, sans-serif;

}

canvas {

  position: absolute;

  width: 100%;

  height: 100%;

}